@import("https://fonts.googleapis.com/css?family=Abril+Fatface");

body {
   background-color: #111;
   font-family: 'KoHo', sans-serif;
}

h1 {
  margin: 0% 1%;
  font-size: 50px
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

header li {
 float: left;
}

header li a {
 display: block;
 color: white;
 text-align: center;
 padding: 10px 16px;
 text-decoration: none;
}

header li a:hover {
  animation-name: navbuttons;
  animation-duration: 0.75s;
  background-color: #111;
}

@keyframes navbuttons {
  from   {background-color: #222;}
  to  {background-color: #111;}
}

header li.active {
  background-color: #333
}

header li.active a:hover {
  background-color: #333;
  animation: null
}

header {
  background-color: #222 ;
  color: white;
  margin: 2% 8%;
}

section {
  background-color: #222 ;
  color: white;
  margin: 2% 8%;
}

.rhblock {
  color: white;
  background-color: #222;
  margin: 0% 8% 1% 40%;
  padding: 1%;
}

.block {
  color: white;
  background-color: #222;
  margin: 1% 8% 1% 8%;
  padding: 1%;
}

.portrait img {
  float: left;
  width: 30%;
  height: auto;
  margin-left: 8%;
}
