@import("https://fonts.googleapis.com/css?family=Abril+Fatface");

body {
   background-color: #111;
   font-family: 'KoHo', sans-serif;
   word-wrap: break-word;
}

h1 {
  margin: 0% 1%;
  font-size: 50px
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

header li {
 float: left;
}

header li a {
 display: block;
 color: white;
 text-align: center;
 padding: 10px 16px;
 text-decoration: none;
}

header li a:hover {
  animation-name: navbuttons;
  animation-duration: 0.75s;
  background-color: #111;
}

@keyframes navbuttons {
  from   {background-color: #222;}
  to  {background-color: #111;}
}

header li.active {
  background-color: #333
}

header li.active a:hover {
  background-color: #333;
  animation: null
}

header {
  background-color: #222 ;
  color: white;
  margin: 2% 8%;
}

section {
  background-color: #222 ;
  color: white;
  margin: 2% 8%;
}

.rhblock {
  color: white;
  background-color: #222;
  margin: 0% 8% 1% 40%;
  padding: 1%;
}

.block {
  color: white;
  background-color: #222;
  margin: 1% 8% 1% 8%;
  padding: 1%;
}

.landscape img {
  width: 84%;
  height: auto;
  margin-left: 8%;
}

.portrait img {
  float: left;
  width: 30%;
  height: auto;
  margin-left: 8%;
}

.column {
    color: white;
    background-color: #222;
    float: left;
    width:30%;
    margin: 0% 0% 2% 1%;
    padding: 1%;
}

.row {
    margin: 1% 8% 1% 8%;
}

@media screen and (max-width:700px) {
    .column {
        width: 96%;
    }
    .row {
      margin-left: 2% 8% 2% 2%
    }
    .rhblock {
      color: white;
      background-color: #222;
      margin: 1% 8% 1% 8%;
      padding: 2%;
    }
    .portrait img {
      margin: 4% 4% 0% 12%
    }
}

@media screen and (min-width:1520px) {
  .block {
    margin: 0% 8% 1% 40%;
  }
}
